extends layout

block content
    h1= heading
    p Welcome to #{title}&nbsp;:&nbsp;&nbsp;
        a(href="https://expressjs.com/", target="_blank") ExpressJS
    form(action="/", method="POST")
        input(name="lead_email", type="email", placeholder="Enter your email address")
        button(type="submit") Submit
    if leads
        h1 Leads
        for lead in leads
            p
                span #{lead.email} &nbsp;&nbsp;
                |
                a(href="/lead/" + lead.id) Details
